{% extends "base.html.twig" %}
{% block stylesheets %} {{ parent() }} {% endblock %}
{% block javascripts %} {{ parent() }} {% endblock %}
{% block body %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-8 col-md-8 mx-auto">
                <h1>Proveedores</h1>
                <br>
                {% for message in app.flashes("success") %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Activo</th>
                            <th scope="col">Creado en</th>
                            <th scope="col">Modificado en</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for proveedor in listaProveedores %}
                            <tr>
                                <td>
                                    <a href="{{ path("proveedores_details",{"id":proveedor.id}) }}"><i
                                                class="bi bi-pencil-square"></i></a>
                                </td>
                                <td>{{ proveedor.nombre }}</td>
                                <td>{{ proveedor.email }}</td>
                                <td>{{ proveedor.telefono }}</td>
                                <td>{{ proveedor.tipo }}</td>
                                <td>{{ proveedor.activo == 1 ? "Sí" : "No" }}</td>
                                <td>{{ proveedor.createdAt.format('d-m-y H:m:s') }}</td>
                                <td>{{ proveedor.updatedAt.format('d-m-y H:m:s') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div style="padding-top:30px">
                        <a type="button" class="btn btn-primary" href="{{ path("proveedores_add") }}">Nuevo</a>
                    </div>
                </div>
    </section>

{% endblock %}